<!DOCTYPE html>
<html>
<head>
	<title>Vi är på gång</title>
</head>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>
	<h1 id="Tjejer-kodar">Tjejer kodar</h1>
	<div><%= fruit %></div>
</body>
</html>